@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Sansation", sans-serif;
}

:root {
  --s: 211px; /* Controls the size of the pattern */
  --c1: #f0f0f0; /* First shade of grey */
  --c2: #f3f3f3; /* Second shade of grey */
}

.background-pattern {
  background: repeating-conic-gradient(var(--c1) 0 45deg, var(--c2) 0 90deg) 0 /
    var(--s) var(--s);
}

/* hamburger menu*/
#nav-icon3 {
  width: 32px; /* Match w-8 */
  height: 24px; /* Match h-6 */
  position: relative;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px; /* Adjust thickness */
  width: 100%;
  background: #57534e;
  border-radius: 3px; /* Smooth corners */
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 8px; /* Spacing between lines */
}

#nav-icon3 span:nth-child(4) {
  top: 16px;
}

#nav-icon3.open span:nth-child(1),
#nav-icon3.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  transform: rotate(-45deg);
}

/* Example 2 */
@keyframes scroll_2 {
  0%   { transform: translateY(0); opacity: 1; }
  25%  { opacity: 1; }
  75%  { transform: translateY(.75em); opacity: 0; }
  100% { transform: translateY(0); opacity: 0; }
}

.example--2 {
  background: cornflowerblue;
}

.scroll-icon__dot {
  display: block;
  position: absolute;
  left: 50%;
  background: #57534e;
  height: .5em;
  width: .5em;
  top: .6em;
  margin-left: -.25em;
  border-radius: 50%;
  transform-origin: top center;
  backface-visibility: hidden;
  animation: scroll_2 2s ease-out infinite;
}

/* General icon style */
.scroll-icon {
  display: flex;
  position: absolute;
  bottom: 2%; /* Adjust this to position the icon */
  left: 50%;
  transform: translateX(-50%);
  height: 3em;
  width: 1.5em;
  border: .20em solid #57534e;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
}


/* Page style */
body {
  margin: 0;
}

h2 {
  color: #57534e;
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

.page-wrap {
  display: flex;
  height: 90vh;
}

.example {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}